.formSelector {
  padding: 0.2rem 0.8rem;
  &:hover {
    cursor: pointer;
  }
  &.active {
    color: var(--accentcolor);
    outline: 2px solid var(--textcolor);
  }
  h3 {
    font-weight: normal;
  }
}

.formContainer {
  display: flex;

  iframe {
    width: 100vw;
    flex-shrink: 1;
  }
}

.selectors {
  display: flex;
  flex-direction: row;
}
