:root {
  font-family: "Kanit", sans-serif;

  line-height: 1.2;
  --speed: 500ms;
  --accentcolor: #c79334;
  --bgcolor: #011724b9;
  --textcolor: #b7bdc2;
  --titlecolor: #9cc3d4;
  color: var(--textcolor);
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 120vw;
  height: 120vh;
  z-index: -10;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../public/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.separator {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  span {
    color: var(--titlecolor);
  }
  &:before {
    transform: translateY(50%);
    margin-right: 1rem;
    border-top: 0.2rem solid aliceblue;
    content: " ";
    flex-grow: 1;
  }
  &:after {
    transform: translateY(50%);
    margin-left: 1rem;
    border-top: 0.2rem solid aliceblue;
    content: " ";
    flex-grow: 10;
  }
}

.blockel {
  background-color: var(--bgcolor);

  padding: 1rem;
  margin: 0.5rem;
  .big {
    margin: 1rem auto;
    max-width: 60rem;
  }
}

.container {
  margin: 1rem auto;
  max-width: 70rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a {
    color: aliceblue;
    text-decoration: underline;
  }
}
