:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
  color: aliceblue;
  --speed: 500ms;
  --darkbg: rgba(0, 0, 0, 0.5);
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 120vw;
  height: 120vh;
  z-index: -10;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../public/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blockel {
  background-color: var(--darkbg);
  border: 2px solid aliceblue;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  .big {
    margin: 1rem auto;
    max-width: 60rem;
  }
}

.container {
  margin: 1rem auto;
  max-width: 60rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a {
    color: aliceblue;
    text-decoration: underline;
  }
}
