.HofContainer {
  text-align: center;
  h1,
  h2,
  h3 {
    color: var(--titlecolor);
    font-weight: 400;
    &.BotBorder {
      border-bottom: 2px solid aliceblue;
    }
  }
  .Inductees,
  .ChampTeam {
    margin-block: 0.5rem;
    padding: 0.5rem;
    background-color: var(--bgcolor);
  }
  .ChampTeam .Member {
    border: 2px solid var(--titlecolor);
  }
  .Season {
    width: 100%;

    margin-block: 1rem;
  }
  .List {
    text-align: center;
    font-size: 1.2rem;
    //   color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Member {
    border: 2px solid var(--accentcolor);
    padding: 0.2rem;
    margin: 0.15rem;
  }
}
