.header {
  text-transform: uppercase;
  margin-top: 3rem;
  justify-self: center;
  --height: 6rem;
  border-radius: 0.5rem;
  height: var(--height);
  margin-inline: 0;
  width: 100%;
  // background-color: #296e8ca6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: linear-gradient(#00000080, #00111f80, #00000080);
  border-radius: 0;
  h1 {
    color: aliceblue;
  }
  a {
    text-decoration: none;
  }
  .Title {
    display: flex;
    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        transform: scale(0.8);
      }
    }
    .burger {
      display: none;
    }
  }
  .NavBar {
    flex-shrink: 1;
    .navlist {
      list-style: none;
      display: flex;
      justify-content: space-around;
      .dropbtn {
        text-decoration: none;
        color: var(--textcolor);
        font-size: 1.25rem;
        font-weight: 500;
        margin: 1rem;
        padding: 0.3rem;
        border: 2px solid transparent;
        transition-duration: 500ms;
        transition-property: all;
        white-space: nowrap;
        &:hover {
          border-bottom: 2px solid var(--textcolor);
          border-radius: 0;
        }
      }
    }
    .dropdown,
    .drop {
      &:hover {
        .drop {
          opacity: 1;
          border: 1px solid var(--textcolor);
          transform: translateY(0);
          pointer-events: all;
        }
        .dropbtn {
          border-bottom: 2px solid var(--textcolor);
          border-radius: 0;
        }
      }
    }
    .drop {
      z-index: 2;
      transition-property: all;
      transition-duration: 500ms;
      padding: 0.2rem;
      width: 10rem;
      color: var(--textcolor);
      margin-top: 0.4rem;
      margin-left: 0;
      position: absolute;
      transform: translateY(-1rem);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
      margin-left: 1rem;
      opacity: 0;
      pointer-events: none;
      ul {
        list-style: none;
        list-style-position: inside;
        padding: 0;
        li {
          transition-property: all;
          transition-duration: 500ms;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          padding: 0.2rem;
          a {
            text-decoration: none;
            color: var(--textcolor);
          }
        }
        li:hover {
          border-top: 1px solid var(--textcolor);
          border-bottom: 1px solid var(--textcolor);
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 985px) {
  .header {
    flex-direction: column;
    height: auto;

    .Title {
      height: var(--height);
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      img {
        transform: scale(0.1);
      }
      a {
        justify-self: start;
        transform: translateX(-4rem);
        flex-shrink: 0;
      }
      .burger {
        cursor: pointer;
        justify-self: end;
        display: block;
        display: flex;
        flex-direction: column;
        height: 2rem;
        justify-content: space-around;

        .bar {
          background-color: var(--textcolor);
          width: 2rem;
          height: 0.2rem;
          border-radius: 2rem 2rem 2rem 2rem;
        }
      }
    }
    .NavBar {
      transition-property: all;
      transition-duration: 500ms;
      // position: absolute;
      opacity: 0;
      transform: translateY(-20rem);
      max-height: 0;
      align-self: center;

      &.active {
        transform: translateY(0);
        opacity: 1;
        max-height: 20rem;
      }
      .drop {
        transition-property: all;
        transition-duration: 500ms;
        position: relative;
        max-height: 0;
        z-index: 2;
        background: none;
        ul li {
          text-align: left;
        }
      }
      .dropbtn,
      .drop,
      .dropdown {
        &:hover {
          .drop {
            background: none;
            border: none;
            max-height: 7rem;
          }
        }
      }
      .navlist {
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
        li {
          text-align: center;
        }
      }
    }
  }
}
