.header {
  position: sticky;
  z-index: 99;
  top: 0;
  margin-inline: 0;
  text-transform: uppercase;
  // margin-top: 3rem;
  justify-self: center;
  --height: 6rem;
  border-radius: 0.5rem;
  height: var(--height);
  margin-inline: 0;
  width: 100%;
  // background-color: #296e8ca6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(var(--bgbase));
  // background-color: var(--bgcolor);
  // background-color: black;
  backdrop-filter: blur(10px);

  // background-image: linear-gradient(#00000090, #00111f80, #00000090);
  border-radius: 0;
  h1 {
    color: aliceblue;
  }
  a {
    text-decoration: none;
    flex-shrink: 1;
  }
  .Title {
    display: flex;
    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        &:hover {
          transform: scale(0.85);
        }
        transition-property: all;
        transition-duration: 0.2s;
        transform: scale(0.8);
      }
    }
    .burger {
      display: none;
    }
  }
  .NavBar {
    flex-shrink: 4;
    .navlist {
      list-style: none;
      display: flex;
      justify-content: space-around;

      .dropbtn {
        text-decoration: none;
        color: var(--textcolor);
        font-size: 1.25rem;
        font-weight: 500;
        margin: 1rem;
        padding: 0.3rem;
        border: 2px solid transparent;
        transition-duration: 500ms;
        transition-property: all;
        white-space: nowrap;
        &:hover {
          border-bottom: 2px solid var(--textcolor);
          border-radius: 0;
        }
      }
    }
    .dropdown,
    .drop {
      &:hover {
        .drop {
          opacity: 1;
          border: 1px solid var(--textcolor);
          transform: translateY(0);
          pointer-events: all;
        }
        .dropbtn {
          border-bottom: 2px solid var(--textcolor);
          border-radius: 0;
        }
      }
      border-radius: var(--borderradius);
    }
    .drop {
      z-index: 2;
      transition-property: all;
      transition-duration: var(--transitionduration);
      padding: 0.2rem;
      color: var(--textcolor);
      margin-top: 0.4rem;
      margin-left: 0;
      position: absolute;
      transform: translateY(-1rem);
      background-color: var(--bgcolor);
      backdrop-filter: blur(10px);

      margin-left: 1rem;
      text-align: center;
      opacity: 0;
      pointer-events: none;
      ul {
        list-style: none;
        list-style-position: inside;
        padding: 0;
        li {
          transition-property: all;
          transition-duration: 500ms;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          padding: 0.2rem;
          a {
            text-decoration: none;
            color: var(--textcolor);
          }
        }
        li:hover {
          // border-top: 1px solid var(--textcolor);
          // border-bottom: 1px solid var(--textcolor);

          & > * {
            transition-property: all;
            transition-duration: var(--transitionduration);
            transform: scale(var(--scale));
          }
          cursor: pointer;
        }
      }
    }
  }
}

//
//=============MOBILE STYLING=============
//

@media screen and (max-width: 1024px) {
  .header {
    margin-top: 0;
    flex-direction: column;
    height: auto;

    .Title {
      height: var(--height);
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      .logo {
        // transform: translateX(-200px);
        // img {
        //   object-fit: cover;
        //   object-position: 250px;
        // }
      }

      a {
        justify-self: start;
        transform: translateX(-4rem);
        flex-shrink: 1;
      }
      .burger {
        // margin-right: 3rem;
        cursor: pointer;
        justify-self: end;
        display: block;
        display: flex;
        flex-direction: column;
        height: 2rem;
        justify-content: space-around;

        .bar {
          background-color: var(--textcolor);
          width: 2rem;
          height: 0.2rem;
          border-radius: 2rem 2rem 2rem 2rem;
        }
      }
    }
    .NavBar {
      transition-property: all;
      transition-duration: 500ms;
      // position: absolute;
      opacity: 0;
      transform: translateY(-20rem);
      max-height: 0;
      align-self: center;

      &.active {
        transform: translateY(0);
        opacity: 1;
        max-height: 50rem;
      }
      .drop {
        transition-property: all;
        transition-duration: 500ms;
        position: relative;
        max-height: 0;
        z-index: 2;
        background: none;
        width: 10rem;
        transform: translateX(-0.5rem) translateY(-2rem);
        backdrop-filter: blur(0px);

        NavLink {
          #Props {
            align-items: center;
            justify-content: center;
          }
        }
        ul li {
          text-align: left;
        }
      }
      .dropbtn,
      .drop,
      .dropdown {
        &:hover {
          .drop {
            transform: translateX(-0.5rem) translateY(0);
            background: none;
            border: none;
            max-height: 10rem;
          }
        }
      }
      .navlist {
        padding: 0;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
        li {
          text-align: center;
        }
      }
    }
  }
}
